In [1]:
 #ASSIGNMENT_1

In [21]:
#Solution to Q1
d="Darshan"  #variable for string
l=[1,2,3,"Darshan",True,63.49, 5+8j]  #variable for list
f=63.49 # variable for float
t=(1,2,3,"Darshan",True,63.49, 5+8j) #variable for tuple

In [36]:
#solution for Q2
var1=''
var2='[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4=1
# Var1,Var2, are string ,Var3 is list and Var4 is intiger 
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [43]:
#SOLUTION FOR Q3
#1. / this is division operator
a= 10
b=5
c=4
e=6
g=2
print(a/b)

# % this is modulus operator 
print(a%c)

# // this is floor division operator 
print(a//e)

# ** this is exponential opearator
print(c**g)

2.0
2
1
16

In [51]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type'''

l1=[1,2,3,"Darshan",True,"Rathi",False,63.49, 5+8j,5]
for i in l1:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
Darshan <class 'str'>
True <class 'bool'>
Rathi <class 'str'>
False <class 'bool'>
63.49 <class 'float'>
(5+8j) <class 'complex'>
5 <class 'int'>

In [3]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

A=int(input("Enter value for A"))
B=int(input("Enter Value for B"))

while A%B==0:
    A=A//B
    
if A==0:
    print("A is purely Divisible by B")
else:
    print("A is not divisible by B")

Enter value for A 99
Enter Value for B 23

A is not divisible by B

In [16]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

Q=[1,2,3,4,5,6,7,8,9,12,15,16,10,66,695,5656,264889,123648,555,12234,545612,123456,666,65789,25]
for i in Q:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f' {i} is not divisible by 3')

 1 is not divisible by 3
 2 is not divisible by 3
3 is divisible by 3
 4 is not divisible by 3
 5 is not divisible by 3
6 is divisible by 3
 7 is not divisible by 3
 8 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
 16 is not divisible by 3
 10 is not divisible by 3
66 is divisible by 3
 695 is not divisible by 3
 5656 is not divisible by 3
 264889 is not divisible by 3
123648 is divisible by 3
555 is divisible by 3
12234 is divisible by 3
 545612 is not divisible by 3
123456 is divisible by 3
666 is divisible by 3
 65789 is not divisible by 3
 25 is not divisible by 3

In [ ]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''
#Mutabel Objects= where we can change value with the help of indexes. For example list is mutable. Here values can be modified once created 
#Immutable objects=  types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value. for ex strings are immutable 

# ex of immutable object
list=[0,1,2,4]
list[3]=3

#ex of immutable objects
D="Darshan"
D= D + "Rathi"